.article_content_amenities_card {
  padding: 1.5rem 2rem;
  background-color: #f8fcff;
}

@media screen and (max-width: 479px) {
  .article_content_amenities_card {
    padding: 1rem;
  }
}

.spacer-xxsmall {
  width: 100%;
  padding-top: 0.25rem;
}

.spacer-small {
  width: 100%;
  padding-top: 1rem;
}

@media screen and (max-width: 767px) {
  .spacer-small.is-home-tab {
    padding-top: 0.5rem;
  }
}

@media screen and (max-width: 991px) {
  .hide-tablet {
    display: none;
  }
}

.text-weight-medium {
  font-weight: 500;
}

.text-color-alternate {
  color: var(--text-color--text-alternate);
}

.heading-style-h6 {
  font-size: var(--_typography---heading-size--text-size-h6);
  line-height: 1.5;
  font-weight: 400;
}

@media screen and (max-width: 479px) {
  .text-weight-medium.mb-tx-14px {
    font-size: 0.875rem;
  }
}

#w-node-d5689ea2-598f-3d36-2580-39403558bea8-3558bea8 {
}