.component_property_tag-item {
  display: flex;
  align-items: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.component_property_tag-icon {
  width: 1rem;
  height: 1rem;
}

.component_property_text {
  display: flex;
  grid-column-gap: 0.5ch;
  grid-row-gap: 0.5ch;
  font-size: 0.875rem;
}

@media screen and (max-width: 767px) {
  .component_property_text {
    font-size: 0.8125rem;
  }
}