---
import Layout from '../layouts/Layout.astro';
// import {Section, Container, Block, Link} from '.a./../devlink/_Builtin/index.js';
import {Header} from "../../devlink/Header";
import {Footer} from "../../devlink/Footer";
import ListingsApp from "../components/ListingsApp.tsx";

const workerUrl = import.meta.env.PUBLIC_WORKER_URL;
---

<Layout>
    <div>
        <Header client:load/>
        <div class="content-area">
            <ListingsApp client:load
                         baseApiUrl={workerUrl}
                         filtersApiUrl={`${workerUrl}/api/filters`}
            />
        </div>
        <Footer client:load/>
    </div>
</Layout>

<style>
    h1 {
        font-size: 2.5rem;
        font-weight: 700;
        background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .content-area {
        padding-top: 6rem;
        min-height: 100vh;
    }

    .button-primary {
        border-radius: 4px;
        background: #146ef5;
        color: #ffffff;
        box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.25), inset 0px 29px 23px -16px rgba(255, 255, 255, 0.04), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.2);
    }

    .button-primary:hover {
        background: #2c80fd;
        color: #ffffff;
    }
</style>
