---
---

<nav>
    <div class="navbar max-width">
        <div class="nv-flex">
            <a href="/" class="nav-logo">My Website</a>
            <ul>
            </ul>
        </div>
    </div>
</nav>

<style>

</style>